@font-face {
  font-family: Clementine;
  src: url(../fonts/clementine.otf);
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: normal;
}

/* MAIN */
body {
  font-size: 13pt;
  line-height: normal;
  font-family: Raleway, sans-serif;
  background: url(../img/bg.png) no-repeat fixed, #f9f9f9;
  background-size: cover;
  color: #eee;
}

a {
  color: #eee;
}

.container {
  margin: 0 15%;
  background: #222222bb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 0;
}

.header {
  margin: 0;
  padding: 2%;
  background: #111111bb;
}

.navbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
  flex-wrap: wrap;
}

.logo {
  max-height: 75px;
}

.links * {
  margin: 0 8px;
}

.links a {
  font-family: Clementine;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  padding: 0 5%;
  margin-bottom: 2%;
}

.header-text {
  flex: 1;
}

.header-img {
  align-self: center;
  flex: 0 3 auto;
}

.header-img img {
  border-radius: 15px;
  width: 100%;
  max-height: 250px;
}

.top-box {
  margin: 0;
  padding: 3% 5%;
  background: #333333bb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2% 0;
  gap: 2%;
}

.card {
  flex: 1 0;
  text-align: center;
  align-self: flex-start;
  min-width: 200px;
  margin: 1%;
}

.card img {
  border-radius: 15px;
  width: 100%;
  max-height: 200px;
  margin-bottom: 5%;
  flex: 0 3 auto;
}

.middle-box {
  margin: 0;
  padding: 5% 15%;
  background: #111111bb;
}

.quote {
  font-family: Clementine;
  font-style: italic;
  text-align: justify;
}

.quote-author {
  font-weight: bold;
  text-align: right;
}

.bottom-box {
  margin: 0;
  padding: 5% 10%;
  background: #333333bb;
}

.bottom-frame {
  border-radius: 15px;
  background: #eeeeeebb;
  padding: 3% 7.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-text {
  color: #222;
}

button {
  font-family: Clementine;
  padding: 4px 10px;
}

.text-h1 {
  font-family: Clementine;
  font-weight: bold;
  font-size: 28pt;
  line-height: normal;
}

.text-h2 {
  font-family: Clementine;
  font-weight: bold;
  font-style: italic;
  font-size: 24pt;
  line-height: normal;
  text-align: center;
}

.text-h3 {
  font-weight: bold;
  font-size: 18pt;
  line-height: normal;
}

.subtext {
  font-size: 12pt;
}

.footer {
  margin: 0;
  padding: 2%;
  background: #111111bb;
  text-align: center;
}
